.box{
    border-radius: 15px;
    /* background-color: #dddddd; */
}


.oranje{
    background-color: #ffae18;
}

.blauw{
    background-color: #01d2e0;
}

.link {
    font-size: 40px;
    font-family: "Arial";
}

.center {
    text-align: center;
}
