.box{
    border-radius: 15px;
    /* background-color: #dddddd; */
}


.oranje{
    background-color: #ffae18;
}

.blauw{
    background-color: #02d3c8;
}

.link {
    font-size: 40px;
    font-family: "Arial";
    color: #00bbc2;
}

.align {
    text-align: justify;
}

.hovered {
    display: none;
 }

 .aanwijzen:hover .hovered{
    display: block;
    text-align:justify;
 }

 .aanwijzen {
    position: relative;
    height: 100px;
    width: 500px;
    background-size: cover;
    display:block;
    text-align: center;
 }
